<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss} [%t] %-5level %c{1} - %msg%n}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan}" />
        </Console>

        <!-- Ежедневный лог-файл -->
        <RollingFile name="FileAppender"
                     fileName="target/logs/app.log"
                     filePattern="target/logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- основной уровень логирования -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
